.vs/bookShareBEnd/FileContentIndex/43dd8ea7-8bbf-4a83-ab39-2aa573220380.vsidx
.vs/bookShareBEnd/FileContentIndex/469cfa67-8ddc-4fea-9228-67d857f33f79.vsidx
.vs/bookShareBEnd/FileContentIndex/97830352-c2dc-426b-bb90-f487d7096d0e.vsidx
.vs/bookShareBEnd/DesignTimeBuild/.dtbcache.v2
.vs/bookShareBEnd/DesignTimeBuild/.dtbcache.v2
.vs/bookShareBEnd/DesignTimeBuild/.dtbcache.v2
.vs/bookShareBEnd/FileContentIndex/e87245a5-879d-4c29-a1b8-b17b736a081e.vsidx
.vs/bookShareBEnd/v17/.futdcache.v2
.vs/bookShareBEnd/DesignTimeBuild/.dtbcache.v2
.vs/bookShareBEnd/FileContentIndex/ef3960bd-205a-4254-83d3-201d9106e800.vsidx
.vs/bookShareBEnd/v17/.futdcache.v2
.vs/bookShareBEnd/v17/.futdcache.v2
.vs/bookShareBEnd/v17/.suo
.vs/bookShareBEnd/DesignTimeBuild/.dtbcache.v2
.vs/bookShareBEnd/DesignTimeBuild/.dtbcache.v2
/.vs/bookShareBEnd/FileContentIndex/0948830f-4f65-4847-8034-99dbcc5fb80d.vsidx
/.vs/bookShareBEnd/FileContentIndex/2b1cd53b-ea65-430c-8829-9725de0a5641.vsidx
/.vs/bookShareBEnd/FileContentIndex/9182318f-09bd-46cb-b60a-801c13aa4259.vsidx
/.vs/bookShareBEnd/FileContentIndex
/.vs/bookShareBEnd/DesignTimeBuild/.dtbcache.v2
/.vs/HamidApi/FileContentIndex
/.vs/HamidApi/config
